<!doctype>
<html>
<head>
  <link rel='stylesheet' type='text/css' href='/css/styles.css'>
</head>
<body>
  {{{body}}}
  <footer> <br><a href="http://jschultz21.github.io/" target="_blank">built w/ &hearts;</a></footer>
</html>
