<style>
  body {
    background-color: {{color}};
  }
</style>

<form action="/{{name}}/new" method="post">
<h1> Hey girl, </h1>
  <textarea rows="7" cols="30" style='font-size: 20px;' id="new_compliment" type="text" name="new_compliment"></textarea><br>
  <input type="submit">
</form>

<a href="/">home</a><br>
