body {
  font-family: helvetica;
  text-align: center;
}

h1{
  font-size: 65px;
}

img {
  border-radius: 70%;
  border: 8px solid white;
  width: 400px;
}


a{
  font-size:25px;
  color:white;
  text-decoration: none;
}
a:hover{
  text-transform:uppercase;
}
a:visited{
  color: white;
}
