*{
  font-family: helvetica;
  font-weight:bold;

}
body {
  text-align: center;
}

h1{
  font-size: 65px;
}

textarea{
  margin: 10px;
}


img {
  border-radius: 70%;
  border: 8px solid white;
  width: 400px;
}


a{
  font-size:25px;
  color:white;
  font-weight:bold;
  text-decoration: none;
}
a:hover{
  text-transform:uppercase;
}
a:visited{
  color: white;
}
