*{
  font-family: helvetica;
  font-weight:bold;
  font-size:18px;

}
body {
  text-align: center;
  padding: 40px 80px;
  padding-bottom: 10px;
}

h1{
  font-size: 60px;
}

textarea{
  margin: 10px;
}

img {
  border-radius: 100%;
  border: 8px solid white;
  width: 320px;
}

a{
  font-size:25px;
  color:white;
  font-weight:bold;
  text-decoration: none;
}
a:hover{
  text-transform:uppercase;
}
a:visited{
  color: white;
}

footer a{
  font-size: 14px;
}
